h1{
    color: red;
    font-size: 32px;
    }

p{
    color: black;
    font-size: 18px;
    text-indent: 32px;
    }

a{
    color: blue;
    font-size: 16px;
    }

a:hover{
    color: red;
    font-size: 16px;
    }

h2{
    border-bottom: 3px red solid;
    border-left: 3px red solid;
    }

li{
    line-height: 1.5;
    }

.delete{
    text-decoration: line-through;
    }

img {
    border: 5px solid grey;
}